<div class="comida">
  <div class="center-box">
  <div class="wrapper">
    <!-- sushi description -->
    <div class="box a">
      <h1>Roll California</h1>
      <img src="../../../assets/IMG/6016.jpg" alt="HTML5 Icon" width="400" height="300">
      <div class="descripcion"> 
          <p>Descripcion: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non scelerisque lorem. Vestibulum purus orci, blandit id commodo sit amet, convallis vel justo. Nunc accumsan scelerisque consectetur</p>
      </div>
    </div>
    <div class="box b">
      <h3>Personalizalo</h3>
      <div class="arroz">
        <p>Tipo de arroz:</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">arroz</button>
            <button type="button" class="btn btn-secondary">arroz</button>
            <button type="button" class="btn btn-secondary">arroz</button>
          </div>
      </div>
      <div class="salsa">
          <p>Salsa Extra:</p>
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">salsa</button>
              <button type="button" class="btn btn-secondary">salsa</button>
              <button type="button" class="btn btn-secondary">salsa</button>
            </div>
      </div>
      <div class="cantidad">
          <p>Cantidad de Roles:</p>
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">8</button>
              <button type="button" class="btn btn-secondary">12</button>
              <button type="button" class="btn btn-secondary">16</button>
            </div>
      </div>
      <div class="Tabla-Precio table-responsive">
          <table class="table table-sm table-hover">
              <tr>
                <th scope="col">Precio</th>
                <th scope="col">50</th>
              </tr>
              </table>
      </div>
      <div class="AgregarCarrito">
          <button type="button" class="btn btn-dark">Agregar Al Carro</button>
        
      </div>
    </div>
</div>

</div>
</div>


