<div class="comida container'fluid">
  <div class="container-fluid row">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-5 center-box">
                    <img class="img-fluid" src="../../../assets/IMG/sushi/maki/det2x_maki-ahumado-queso.png" alt="sushi">
            </div>
            <div class="col-sm-7 center-box">
                <div class="box-principal">
                    <h1>Roll California</h1>
                     <p>Price: 5$ | 1 piece | <span class="available">Available</span> </p>                    

                </div>
                 
            </div>
        </div>
    </div>
    
    
<div class="col-sm-12">
    <div class="row">
            <div class="col-sm-8">
                    <div class="descripcion"> 
                            <h3>Description</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non scelerisque lorem. Vestibulum purus orci, blandit id commodo sit amet, convallis vel justo. Nunc accumsan scelerisque consectetur</p>
                            <div class="AgregarCarrito">
                                <button type="button" class="btn btn-dark">Agregar Al Carro</button>
                              
                            </div>
                            <div class="AgregarDeseos">
                                <button type="button" class="btn btn-dark">Añadir a Deseos</button>
                              </div>
                        </div>
            </div>
            <div class="col-sm-4">
                    <div class="select">
                      <p>Tamaño de arroz:</p>
                      <select class="form-control">
                              <option>Grano Largo</option>
                              <option>Grano Medio</option>
                              <option>Grano Corto</option>
                      </select>
                    </div>
                    <div class="select">
                        <p>Tipo de arroz:</p>
                        <select class="form-control">
                              <option>Vaporizado</option>
                              <option>Precocido</option>

                        </select>
                    </div>
                    <div class="select">
                        <p>Salsa Extra:</p>
                        <select class="form-control">
                              <option>Soya</option> 
                              <option>Salsa x</option>

                          </select>
                    </div>
                   
                    <div class="Tabla-Precio table-responsive">
                        <table class="table table-sm table-hover">
                            <tr>
                              <th scope="col">Precio</th>
                              <th scope="col">50</th>
                            </tr>
                            </table>
                    </div>
                  </div>
    </div>
    
</div>


</div>

</div>


