<div class="inicio"> 
  <div class="box-black">
    <h1 class="texto">Pedidos</h1>
    <div class="Tabla-Carro table-responsive">
        <table class="table table-sm table-hover">
            <tr>
              <th scope="col">#</th>
              <th scope="col"> <h4 class= "texto"> Usuario </h4> </th>
              <th scope="col"><h4 class= "texto"> Pedido </h4></th>
              <th scope="col"><h4 class= "texto"> Estado </h4></th>
            </tr>
            <tr>
                <td> <h5 class= "texto"> 1 </h5> </td>
                <td> <h5 class= "texto"> Arturo </h5> </td>
                <td> <h5 class= "texto"> Roll Sushi </h5> </td>
                <td> <h5 class= "texto"> Realizado </h5> </td>
            </tr>
            <tr>
                <td> <h5 class= "texto"> 2 </h5> </td>
                <td> <h5 class= "texto"> Kerlis </h5> </td>
                <td> <h5 class= "texto"> Ramen </h5> </td>
                <td> <h5 class= "texto"> Falta </h5> </td>
            </tr>
          </table>
    </div>
    <a class="btn btn-dark" [routerLink]="['/Admin/ModificarPedidos']" role="button"> <h5 class= "texto"> Modificar Estado </h5></a>
  </div>
</div>   
