<div class="box">
  <div class="contenedor">
  <div class="row izquierda">
        <div class="col">
          <p>Contáctanos</p>
          <div class="letras">telefonos: <br>+584123708969<br>+58414587654 </div>
          

        </div>
        <div class="col">
          <p>Síguenos</p>
          <img src="../../assets/IMG/insta.png" width="50" height="50">  
          <img src="../../assets/IMG/face.png" width="50" height="50">  
          <img src="../../assets/IMG/twitter.png" width="50" height="50">  

        </div>
        <div class="col">
          <p>cosas aburridas</p>
          <div class="letras">This artifact provides a high-level basis for more detailed technical requirements.
            It captures the technical solution.</div>
        </div>
      </div>
  </div>
    
</div>
