
/* cajitas del menu */
.card-body .card-title{
    height: 80px;
    width: auto;
}
.card{
    background-color: #060504;
    color: #f8f9fa ;
    background-image: url("../../../assets/IMG/Fondos/fondonegrosushi.jpg");
    background-size: contain;
    background-position: center;
}
.box-center{
    display: flex;
    align-items: center;    
    align-content: center;
    height: 50px;
    width: 100%;
}
.precio{
    margin-top: 12px;
    width: 50%;  
}
.box-black{
    width: 100%;
    height: 100%;
    background-color: rgba(6, 5, 4, 0.377);
}
.btn.cart{
    background-image: url("../../../assets/IMG/icon-ecommerce-grey.png");
    height: 60px;
    width: 60px;
    background-size: cover;
    background-position: center;
    background-color: none;
    background-repeat: no-repeat;
}