<div class="container-fluid">

    <div class="box-imput">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="search for your favorite sushi here..." aria-label="Recipient's username" aria-describedby="button-addon2" >
            <div class="input-group-append">
              <button class="btn btn-dark" type="button" id="button-addon2">search</button>
            </div>
      
            </div>
          </div>

<div class="container-fluid menu">
    <div class="container">
        <div class="row">
            <div class="card col-sm-4" *ngFor="let plato of platos" (click)="goToFood(plato.key)">
              <div class="box-black">
                <img class="card-img-top" src="{{plato.url_img}}" alt="Card image cap">
                <div class="card-body">

                  <h5 class="card-title">{{plato.name}}</h5>

                  <div class="box-center">
                    <p class="precio">Price: {{plato.price}}$</p> 
                    <img class="car" src="../../../assets/IMG/icon-ecommerce-grey.png"  height="40px" width="40px">
                    <img  class="wish" src="../../../assets/IMG/1005px-Star_empty.svg.png"  height="30px" width="30px">
                  </div>
                
                </div>
              </div>
          </div>
          <div *ngIf="platos?.length < 1">
            <h3>NO SE ENCUENTRA RESULTADOS :C</h3>
          </div>
        </div>
      </div>


        

      </div>
</div>