<div class="menu">
  <h1>Pidelo Ya!</h1> 
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
      </div>
      
    <div class="box-center">
        <div class="wrapper">
            <div class="box box1"><a [routerLink]="['/shopping/Comida']"><img src="../../../assets/IMG/6016.jpg" alt="carro delivery sushi" width="250" height="180"></a></div>
            <div class="box box2"><a [routerLink]="['/shopping/Comida']"><img src="../../../assets/IMG/6016.jpg" alt="carro delivery sushi" width="250" height="180"></a></div>
            <div class="box"><a [routerLink]="['/shopping/Comida']"><img src="../../../assets/IMG/6016.jpg" alt="carro delivery sushi" width="250" height="180"></a></div>
            <div class="box"><a [routerLink]="['/shopping/Comida']"><img src="../../../assets/IMG/6016.jpg" alt="carro delivery sushi" width="250" height="180"></a></div>
            <div class="box"><a [routerLink]="['/shopping/Comida']"><img src="../../../assets/IMG/6016.jpg" alt="carro delivery sushi" width="250" height="180"></a></div>
            <div class="box"><a [routerLink]="['/shopping/Comida']"><img src="../../../assets/IMG/6016.jpg" alt="carro delivery sushi" width="250" height="180"></a></div>
          </div>
    </div>
 

</div>