
.box-center{
    width: 100%;
    display:flex;   
    align-items:center;
    justify-content: center;
}

/* busqueda */
.box-imput{
    color: #f8f9fa;
    text-align: center;
}

/* cajita del imput */


/* 
cajitas del menu */
