 <div class="box-black">
      <p class="titulo">Registrate</p>
      
      <div class="form-group ">
          <p class="simple">Correo Electronico:</p>
          <input type="text" class="form-control" placeholder="Correo Electronico" name="text1">
          <p class="simple">Nombre y Apellido:</p>
          <input type="text" class="form-control" placeholder="Nombre y Apellido" name="text1">
            <p class="simple">contraseña:</p>
            <input type="text" class="form-control" placeholder="contraseña" name="text1">
            <p class="simple">Repita la contraseña :</p>
            <input type="text" class="form-control" placeholder="contraseña" name="text1">
          <div class="checkbox">
          <input class="form-check-input" type="checkbox"> <a target="_blank" href="https://www.youtube.com/watch?v=pa8Z8-e0CPc">Acepto los terminos y condiciones</a></div>
        </div>
        <div class="botones">
            <button type="button" class="btn btn-light" >Ingresar</button>
            <button type="button" class="btn btn-light"  [routerLink]="['/login']">Regresar</button>
        </div> 
        
  </div>