<ul class="nav flex-column">

        <li class="nav-item">
                <a class="nav-link" href="#">Novedades</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  dropdown-toggle" data-toggle="collapse" href="#item-1">Sushi</a>
          <div id="item-1" class="collapse">
            <ul class="nav flex-column ml-3">
              <li class="nav-item">
                <a class="nav-link" href="#">Maki & Futomaki</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sashimi & Tartar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nigiri</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#">Uramaki</a>
             </li>
             <li class="nav-item">
                    <a class="nav-link" href="#">Temaki</a>
            </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Bandejas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Entrantes</a>
        </li>

        <li class="nav-item">
                <a class="nav-link" href="#">Postres</a>
        </li>

      </ul>