<ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link btn btn-dark  dropdown-toggle" data-toggle="collapse" href="#item-1" (click)="goToMenu(foodType1)">Sushi</a>
          <div id="item-1" class="collapse">
            <ul class="nav flex-column ml-3">
              <li class="nav-item" *ngFor='let sushitype of sushisTypes'>
                <button class="nav-link btn btn-dark" (click)="goToMenu(sushitype.type)">{{sushitype.typeTittle}}</button>
              </li>
             
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <button class="nav-link btn btn-dark" (click)="goToMenu(foodType2)">Bandejas</button>
        </li>

        <li class="nav-item">
          <button class="nav-link btn btn-dark" (click)="goToMenu(foodType3)">Entrantes</button>
        </li>

        <li class="nav-item">
          <button class="nav-link btn btn-dark" (click)="goToMenu(foodType4)">Postres</button>
        </li>

      </ul>