<div class="container-fluid box">
  <!-- titulo -->
 <div class="container-flui box-titulo">
      <img src="../../../assets/IMG/icon-ecommerce-grey.png" alt="shoppingcart" height="50px" width="50px">
      <p>My Shopping Cart</p>
 </div>
 <!-- tablas -->
  <div class="box-tablas">
    <div class="Tabla-Carro table-responsive">
        <table class="table table-sm table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Plato</th> 
              <th scope="col">Cant</th>
              <th scope="col">Precio</th>
             
            </tr>
          </thead>
            <tr *ngFor='let product of products'>
              <td>{{product.name}}</td>
              <td class="cant">
                  <button class="btn less" type="submit">-</button>
                  1
                  <button class="btn pluss" type="submit">+</button>
              </td>
              <td>{{product.price_unit}}</td>
            </tr>
           
            <tr >
                <th class="iva" scope="col">NO HAY</th>
                <th class="iva"></th>
                <th class="iva" scope="col"></th>
            </tr>
            <tr>
                <th scope="col">Total </th>
                <th></th>
                <th scope="col"></th>
            </tr>
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
          </table>
    </div>
 
    
</div>  


  
</div>
