.box{
    text-align: center;
    border-right-style: solid;
    border-right-width: 1px;
    margin: 2px;
    border-color: #919191;
    height: 100%;

 
}

.titulo p{
    margin: 5px;
    padding: 2px;
    font-size: 20px;
}
img{
    margin: 0 auto;
}

/* tablas */
.table-dark{
    background-color: #131313;
}
th.iva{
    border-top: 2px solid #dee2e6;
}


/* botonpaypal */
.btn{
    margin: 0 auto;
}