<div class="box">
  
  
  <img src="../../../assets/IMG/CarritoRojo.svg" alt="carro delivery sushi" width="250" height="250">

  <div class="box-tablas">
    <div class="Tabla-Carro table-responsive">
        <table class="table table-sm table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Plato</th> 
              <th scope="col">Cant</th>
              <th scope="col">Precio</th>
             
            </tr>
          </thead>
            <tr>
              <td>Roll sushi</td>
              <td>1</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Ramen</td>
              <td>1</td>
              <td>94</td>
            </tr>
            <tr >
                <th class="iva" scope="col">IVA</th>
                <th class="iva"></th>
                <th class="iva" scope="col">50</th>
            </tr>
            <tr>
                <th scope="col">Total </th>
                <th></th>
                <th scope="col">195</th>
            </tr>
          </table>
    </div>
 
    
</div>
<a class="btn btn-primary" href="#" role="button">botonpaypal</a>
</div>