<div class="container-fluid box">
 <div class="container-flui box-titulo">
      <img src="../../../assets/IMG/icon-ecommerce-grey.png" alt="shoppingcart" height="50px" width="50px">
      <p>My Shopping Cart</p>
 </div>
  <div class="box-tablas">
    <div class="Tabla-Carro table-responsive">
        <table class="table table-sm table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Plato</th> 
              <th scope="col">Cant</th>
              <th scope="col">Precio</th>
             
            </tr>
          </thead>
            <tr>
              <td>Roll sushi</td>
              <td class="cant">
                  <button class="btn less" type="submit">-</button>
                  1
                  <button class="btn pluss" type="submit">+</button>
              </td>
              <td>50</td>
            </tr>
            <tr>
              <td>Ramen</td>
              <td class="cant">
                <button class="btn less" type="submit">-</button>
                1
                <button class="btn pluss" type="submit">+</button>
              </td>
              <td>94</td>
            </tr>
            <tr >
                <th class="iva" scope="col">IVA</th>
                <th class="iva"></th>
                <th class="iva" scope="col">50</th>
            </tr>
            <tr>
                <th scope="col">Total </th>
                <th></th>
                <th scope="col">195</th>
            </tr>
          </table>
    </div>
 
    
</div>  
  <div class="botonpaypal">
    <div id="paypal-button">
        <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
        <div id="paypal-checkout-btn"></div>

    </div>
  </div>
  
</div>