<div class="box-principal">

  <div class="welcome">
  <div class="box-black">
    <div class="box-center">
       <p class="titulo">uMakeIt!</p>
       <p class="subtitulo">fast and tasty</p>
       </div>  
  </div>
 </div>
<!-- segunda parte -->
<div class="AboutUs">
  <div class="box-left">
    <div class="box-center">
      <p class="titulo2">Nuestra Historia</p>
      <br>
       <p class="parrafo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in risus ac odio dictum molestie. 
      Etiam consequat sapien aliquet mattis congue. Nam porttitor at ligula sed dapibus.
      Nunc dapibus massa nisl, ut fringilla nibh aliquam sit ame</p> 
      <div class="boton">
      <button type="button" class="btn btn-outline-dark">Conocenos</button>
    </div>
    </div> 
   
   

  </div>
</div>

<!-- tercera parte -->
<div class="Menu">
  
<div class="container">
  <div class="row">
      <div class="col-sm">
          <img src="../../../assets/IMG/bannersushi-01.jpg" alt="sushi" class="imagen">
          <div class="middle">
            
                  <button type="button" class="btn btn-outline-light">Order now</button>
                
            </div>
        </div>
        <div class="col-sm">
           <img src="../../../assets/IMG/ramen.jpg" alt="ramen" class="imagen">
           <div class="middle">
              <button type="button" class="btn btn-outline-light">Order now</button>
            </div>
        </div>
        <div class="col-sm">
            <img src="../../../assets/IMG/BANNERNIGIRI.jpg" alt="nigiri sushi" class="imagen">  
            <div class="middle">
                <button type="button" class="btn btn-outline-light" >Order now</button>
              </div>
        </div>
  </div>
</div>


</div>
<!-- cuarta parte -->
<div class="Preparalo">
  
    <div class="menu">
     
          <div class="box-center">
             <p class="subtitulo">Prepara tu propio menu</p>
             <div class="boton">
                <button type="button" class="btn btn-outline-light">Aqui</button>
              </div>
        </div>

</div>

</div>
