<div class="box-principal">
    <div class="welcome">
        <div class="box-black">
          <div class="box-center">
             <p class="titulo">uMakeIt!</p>
             <p class="subtitulo">fast and tasty</p>
             </div>  
        </div>
       </div>

<!-- segunda parte -->
<div class="AboutUs container-fluid">
    <div class="row justify-content-start">
        <div class="col-sm-6 box-left">
            <div class="box-center">
                <p class="titulo2">Our History</p>
                <br>
                 <p class="parrafo">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam in risus ac odio dictum molestie. 
                Etiam consequat sapien aliquet mattis congue. 
                Nam porttitor at ligula sed dapibus.
                Nunc dapibus massa nisl, ut fringilla nibh aliquam sit ame</p> 
                <div class="boton">
                <button type="button" class="btn btn-outline-dark">About Us</button>
              </div>
              </div> 
             
        </div>
        <div class="col-sm-6 box-right">
               <img class="img-fluid" src="../../../assets/IMG/Fondos/580b57fcd9996e24bc43c1f8.png" alt="" >
             
        </div>
  </div>
</div>

<!-- tercera parte -->
<div class="Preparalo">
  <div class="box-black2">
    <div class="box-center">
      <p class="titulo">Our Menu</p>
      <p class="subtitulo">¡¡You have to try it!!</p>
      <div class="boton">
          <button type="button" class="btn btn-outline-light">See It!</button>
        </div>

    </div>

  </div>
</div>
<!-- cuarta parte -->
<div class="Menu">
  <div class="box-center">
    <p class="titulo2">Today's Menu</p>
      <div class="card-deck">
          <div class="card">
              <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/umakeit-5d5ca.appspot.com/o/Sushi%2Ffutomaki%2Fdet2x_futomaki-salmon-con-queso.png?alt=media&token=2d8f6dd0-709f-488a-b211-6c030d521e46" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Rock-n-Roll </h5>
                <p class="card-text"> Sed sagittis ligula id tempus tincidunt. Integer efficitur blandit felis, sed mollis urna lacinia at.Curabitur semper tincidunt lacus ut pulvinar. Maecenas porttitor condimentum ex nec vulputate.</p>
              </div>

              <div class="overlay">
                  <div class="boton">
                      <button type="button" class="btn btn-outline-light">Take it now</button>
                    </div>
                </div>
            
          </div>
          <div class="card">
              <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/umakeit-5d5ca.appspot.com/o/Sushi%2Ffutomaki%2Fdet2x_futomaki-vegetal.png?alt=media&token=fc7fc89a-b78c-45b8-b0fd-e0593a64d163" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Rainbow Roll</h5>
                <p class="card-text"> In purus sem, ultricies eget felis sed, accumsan sagittis arcu. Curabitur semper tincidunt lacus ut pulvinar. Maecenas porttitor condimentum ex nec vulputate.</p>
              </div>
              <div class="overlay">
                  <div class="boton">
                      <button type="button" class="btn btn-outline-light">Take it now</button>
                    </div>
                </div>
            
          </div>
          <div class="card">
              <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/umakeit-5d5ca.appspot.com/o/Sushi%2Ffutomaki%2Fdet2x_futomaki-vegetal.png?alt=media&token=fc7fc89a-b78c-45b8-b0fd-e0593a64d163" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Tempura Dragon Roll</h5>
                <p class="card-text">Nunc libero augue, scelerisque non dolor ut, condimentum dictum dolor. Proin volutpat ligula vel ex dignissim, ut faucibus purus sagittis. Vivamus gravida aliquam tellus.</p>
              </div>
              <div class="overlay">
                  <div class="boton">
                      <button type="button" class="btn btn-outline-light">Take it now</button>
                    </div>
                </div>
          </div>
        </div>
  </div>


</div>
