nav{
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
.bg-light{
    background-color:#060504 !important;
}

.navbar-dark .navbar-brand{
    color: #f8f9fa;

}
.navbar-dark .navbar-nav .nav-link{
    color: #f8f9fa;
}
