        <div class="container">
            <div class="titulo">
              <h3>Edita Tu Perfil</h3>
            </div>
            <p class="simple">Correo Electronico:</p>
            <input submit="text" class="form-control" placeholder="Correo Electronico" name="email">
            <p class="simple">Nombre y Apellido:</p>
            <input submit="text" class="form-control" placeholder="Nombre y Apellido" name="name">
              <p class="simple">contraseña:</p>
              <input submit="text" class="form-control" placeholder="contraseña" name="password">
              <div class="center-box">
              <button type="button" class="btn btn-dark" [routerLink]="['/home']">Volver</button>
              <button type="button" class="btn btn-dark">Aceptar</button>
            </div>

        </div>
        
        
      