<div class="container-fluid">
  <div class="Datos">
    <h3>Datos Personales</h3>
    <ul class="list-group">
        <li class="list-group-item">Nombre: </li>
        <li class="list-group-item">Correo: </li>

        <button type="button" class="btn btn-dark">Cambio de password </button>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Pedidos</th>
              <th scope="col">fecha</th>
              <th scope="col">price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>satoshi</td>
              <td>19/03/2018</td>
             <td>251.99</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>nakamoto</td>
              <td>15/10/2018</td>
              <td>150.00</td>
            </tr>
            <tr>
              <th scope="row">3</th>

                <td>maki roll</td>
              <td>05/07/2018</td>
              <td>500.99</td>
             
            </tr>
          </tbody>
        </table>

    </ul>

  </div>

</div>
