.container{
    color: #f8f9fa;
    width: 80%;

}
.container p{
    margin-top: 10px;
}
.titulo{
    text-align: center;
}
.btn{
    width: 150px;
    margin: 20px;
    background-color: #272727;

}
.center-box{
    display: flex;
    align-content: center;
    justify-content: center;        
}