nav{
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
.bg-light{
    background-color:#060504 !important;
}

.navbar-dark .navbar-brand{
    color: #f8f9fa;

}
.navbar-dark .navbar-nav .nav-link{
    color: #f8f9fa;
}
.Usuario{
    float:right;
    color: #f8f9fa;
}
.btn.dropdown-toggle{
    background-color: black;
    color: #f8f9fa;
}
/*head*/

.box-black{
    background-color: rgba(6, 5, 4, 0.8);
    height:500px;
    width: 100%;
    display:flex;   
    align-items:center;
    justify-content: center;
    /* background-image: url("../../../assets/IMG/Fondos/bordetitulo2blanco.svg"); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: 500px 800px;
}
.welcome{
    height:500px;
    background-repeat: no-repeat;    
    width: 100%;
    background-image: url("img/fondo.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;    
    text-align: center;
}


p.titulo{
    font-size: 90px;
    color: #f8f9fa;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 0;
    text-align: center;
}
p.subtitulo{
    font-size: 60px;
    color: #f8f9fa;
    font-family: 'Nanum Brush Script', cursive;  
    text-align: center; 
}