<app-nav-bar-admin></app-nav-bar-admin>
<div class="container-fluid box1">
        <div class="box-principal">
            <div class="welcome">
                <div class="box-black">
                  <h1>Bienvenido *nombre*</h1>
                </div>
               </div>
    </div>    
    </div>
    <div class="row container-fluid">
    
      <div class="col-sm-3">
          <div class="box">
              <ul class="list-group">
                  <li class="list-group-item">Nombre: </li>
                  <li class="list-group-item">Correo: </li>
      
          
                  <button type="button" class="btn btn-dark">Editar</button>
                </ul>
          </div>
      </div>
    
      <div class="col-sm-9">
          <router-outlet></router-outlet>
      </div>
    
    </div>
    
    <app-footer></app-footer>