<div class="container-fluid">
    <div class="container-fluid box1">
        <div class="box-principal">
            <div class="welcome">
                <div class="box-black">
                  <h1>Disponibilidad de Platos</h1>
                </div>
               </div>
    </div>    
    </div>

    <div class="row container-fluid">
    
      <div class="col-sm-3">
          <div class="box">
      
              <div class="modificar">
                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Seleccione el tipo de Plato</label>
                      <select [(ngModel)]="tipoSelected" (ngModelChange)='onTypeSelected($event)' (change)='onTypeSelected($event)' class="form-control" id="exampleFormControlSelect1" >
                        <option *ngFor="let tipo of tipos" [ngValue]="tipo.Type">{{tipo.Type}}</option>
                      </select>
  
                      
                    </div>
                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Numero de Plato</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option *ngFor="let plato of platos">{{plato.key}}</option>
                      </select>

                      <label for="exampleFormControlSelect1">Disponibilidad</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>si</option> 
                        <option>no</option>
                    
                      </select>
                    </div>

                    <button type="button" class="btn btn-dark">Modificar</button>


              </div>

          </div>
      </div>
    
      <div class="col-sm-9">
          <div class="titulo">
            </div>
            <div class="tablaComida">
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Plato</th>
                        <th scope="col">Disponibilidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let plato of platos">
                        <th scope="row">{{plato.key}}</th>
                        <td>{{plato.name}}</td>
                        <td>{{plato.availabe}}</td>
                      </tr>
                        
                    </tbody>
                  </table>
            </div>
          
            
      </div>
    
    </div>
  


  
  