<div class="container-fluid">
    <div class="container-fluid box1">
        <div class="box-principal">
            <div class="welcome">
                <div class="box-black">
                  <h1>Disponibilidad de Platos</h1>
                </div>
               </div>
    </div>    
    </div>

    <div class="row container-fluid">
    
      <div class="col-sm-3">
          <div class="box">
      
              <div class="modificar">
                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Numero de Plato</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>

                      <label for="exampleFormControlSelect1">Disponibilidad</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>si</option>
                        <option>no</option>
                    
                      </select>
                    </div>

                    <button type="button" class="btn btn-dark">Modificar</button>


              </div>

          </div>
      </div>
    
      <div class="col-sm-9">
          <div class="titulo">
            </div>
            <div class="tablaComida">
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Plato</th>
                        <th scope="col">Disponibilidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tbody>
                  </table>
            </div>
          
            
      </div>
    
    </div>
  


  
  