    
    <h2>Disponibilidad</h2>
    <div class="Tabla-Carro table-responsive">
        <table class="table table-sm table-hover">
            <tr>
              <th scope="col">Plato</th>
              <th scope="col">Disponible</th>
            </tr>
            <tr>
              <td>Roll sushi</td>
              <td>si</td>
            </tr>
            <tr>
              <td>Ramen</td>
              <td>si</td>
            </tr>
          </table>
    </div>
    <a class="btn btn-dark" [routerLink]="['/Admin/ModificarDisponibilidad']" role="button">Cambiar Disponibilidad</a>

