.box-principal{
    height:700px;
    background-repeat: no-repeat;    
    width: 100%;
    background-image: url("IMG/fondo1.jpg");
    background-size: cover;
    display:flex;    
    align-items:center;
    align-content: center;
    background-position: center center;
    background-attachment: fixed;     
  
}
.box-black{
    height: 500px;
    width: 400px;
    background-color: rgba(6, 5, 4, 0.7);
    margin: 0 auto;
    color: #f8f9fa;
   

}
.titulo{ 
    text-align: center;
    padding-top: 15px;
    font-size:35px; 
    display: block;
    position: relative;
}
.form-group{
    margin: 0 auto;
    width: 300px;
    padding-top: 15px;
    position: relative;
}
p {
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
}
.botones{
    margin: 0 auto;
}
.btn{
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    
}