<div class="container-fluid">
  <div class="contenedor">
  <div class="row izquierda">
        <div class="col-sm-4">
          <p>Contact Us</p>
          <div class="letras">telefonos: <br>+584123708969, +58414587654 
            <br>Correo:
            <br>UmakeIt@holis.com

          </div>
          

        </div>
        <div class="col-sm-4">
          <p>Follow Us</p>
          <img src="../../assets/IMG/insta.png" width="50" height="50">  
          <img src="../../assets/IMG/face.png" width="50" height="50">  
          <img src="../../assets/IMG/twitter.png" width="50" height="50">  

        </div>
        <div class="col-sm-4">
          <p>Horarios</p>
          <div class="letras">
              Hora de apertura: 9:00 am
              <br>Hora de cierre: 11:00 pm

              
              
          </div>
        </div>
      </div>
  </div>
    
</div>
